.my-5 {
  margin-top: 4rem !important;
}

.card {
  background-color: #f7f7f7;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 10px 10px 0 0;
}

.card-body {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
}

.table {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.table th,
.table td {
  border: 1px solid #ccc;
}

.table th {
  background-color: #f7f7f7;
}
